
  body{
    margin: 0px;
    padding: 0px;
}

#header{
  background-color: rgb(62, 147, 153); 
  
 float: left;
 height: 50px;
 width: 100%;
  position: fixed;
 z-index: 1;
}

/* --------------------------------------------------------- */

#headerHeadingBox{
 /* background-color: cyan; */
 float: left;
 height: 50px;
 letter-spacing: 1.4;
 font-size: 20px;  
}

#headerHeadingBox h3{
margin: 0px;
padding-top: 10px;
padding-left: 10px;
color: rgba(255, 255, 255, 0.90);
}

/* --------------------------------------------------------- */

#headerMenuBox{
 /* background-color: red; */
 float:right;
 height: 50px;
 text-align: center;
 margin-right: 40px;
}


#headerMenuBox a{
text-decoration: none;
display: inline-block;
font-size: x-large;
height: 100%;
color: black;
margin-left: 15px;
}

#headerMenuBox a span{
   position: relative;
   top:10px;
}


#headerMenuBox a:hover{
   color: white;
   cursor: pointer;
}


/* --------------------------------------------------------- */

#content{
  background-color: yellow;
  width: 1340;
}

#sideMenubar{
  /* background-color:rgb(62, 147, 153); */
  width: 200px;
  height: 520px;
  float: left;
 
  position: fixed;
  top: 50px;
  height: 100%;
}


#sideMenubarImageBox{
  width: 200px;
  float: left;
  /* background-color:rgb(62, 147, 153); */
  text-align: center;
  margin-top: 10px;
 
} 
#imagelogo{
  margin-top: 15px;
  width: 180px;
 border-radius: 50%;
 

}
#imagelogo:hover{
  transform: scale(1.1,1.1);
}


#sideMenubarList{
width: 180px;
height: 230px;
float: left;
font-size: large;
/* background-color: rgba(62, 147, 153, 0.877); */
/* background-color: rgba(225, 251, 255, 0.589); */


margin-top: 20px;


}


#sideMenubarList button{
 text-decoration: none;
 display:block;
 margin-bottom: 20px;
 /* color: rgba(255, 255, 255, 0.6); */

 margin-left: 12px;

 background-color: transparent;
 outline: 0;
 border: transparent;

 font-size: large;
 color: black;
font-weight: 600;
}

#sideMenubarList button i{
padding-right: 10px;

}

#sideMenubarList button:hover{
color: rgb(227, 236, 236);
cursor: pointer;

}


.removeUnderline{
  text-decoration: none;
  
}

.removeUnderline span{
  background-color: rgba(62, 147, 153, 0.973); 
  width: 140px;
  display: inline-block;
  padding: 5px;
  margin-left: 8px;
}

.removeUnderline span:hover{
  transform: scale(1.1 ,1.1);
}




 
     
   

#display{
  /* background-color: yellow; */
  width: 1050px;
  min-height: 560px;
  float: left;
  
  position: relative;
  top:50px;
  left:200px;
} 
